body {
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    background-color: white;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    color: white;
}

#quote-box {
    align-self: center;
    width: 14em;
    max-height: 70vh;
    padding: 1em;
    margin: 40px auto;
    background-color: rgb(44, 152, 224);
    border-radius: .1em;
}

.btns-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#icon {
    font-size: 1.5em;
    color: white;
    border: 0;
}

#new-quote {
    color: rgb(44, 152, 224);
    font-size: .5em;
    font-weight: 500;
    padding: 0 1em 0 1em;
    border: 0;
    border-radius: .2em;
    background-color: white;
}

q {
    text-align: center;
}

p {
    text-align: end;
    font-size: .7em;
    font-style: italic;
}

button {
    cursor: pointer;
}

@media screen and (max-width: 560px) {
    #root {
        font-size: 20px;
    }
}